.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    gap: 30px;
    background-color: white;
}
@media(min-width: 800px) {
    .form__container {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: unset;
        max-height: 500px;
        border-radius: 20px;
        padding: 20px;
    }
}